body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFFhu66BNQf4biRQJy7ossS-lZEKEQIdMyEQ&usqp=CAU);
}
h1{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h6{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}